<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/login_signup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>Login or Sign up | TerTer</title>
  </head>
  <body>
    <div id="log">
      <i class="fa-brands fa-twitter"></i>
      <h1>You are not logged in.</h1>
      <a href="{% url 'main:login' %}"> <p>Log in</p> </a>
      <a href="{% url 'main:register' %}"><p>Sign up</p> </a>
    </div>
  </body>
</html>
